.form,
.field {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form input[type="text"],
.form select {
  background-color: transparent;
  font-weight: bolder;
  padding: 1rem;
  border: 0.3rem solid var(--white);
  color: #000000;
  font-size: 1.8rem;
  font-weight: 400;
  border-radius: 1rem;
}

.field ::placeholder {
  color: #000000;
}
.submit {
  margin-top: 1.5rem;
  background-color: var(--primary);
  border: none;
  border-radius: 1rem;
  color: var(--white);
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 1rem;
}
